{% extends "template.html.twig" %}
{% block title%}{{ titlePage }} - Framework from scratch{% endblock %}
{% block content %}
    <h1>{{ titlePage }}</h1>
    {# to test update : article/edit?id={{ idArticle }}#}
    {# to test add : article/insert#}
    {# <form action="article/edit?id={{ idArticle }}" method="post"> #}
    <form action="/article/{{ action }}" method="post">
        <label for="title">Titre de l'article</label><br>
        <input type="text" id="title" name="article[title]" value="{{ article.title }}" required><br>
        <label for="content">Contenu</label><br>
        <textarea id="content" name="article[content]" rows="10" cols="50" required>{{ article.content }}</textarea><br>
        <input type="submit" value="Envoyer"><br>
    </form>
{% endblock content %}
