{% extends "front/template.html.twig" %}
{% block title%}{{ article.title }} - Framework from scratch{% endblock %}
{% block content %}
    <h1>{{ article.title }}</h1>
    <p>{{ flashbag }}</p>
    <p>{{ article.content }}</p>
    <h2>Commentaires de l'article</h2>
    {% for comment in comments %}
        <p>
            Posté par {{ comment.pseudo }}<br>
            {{ comment.comment }}<br>
            {# <a href="/comment?id={{ comment.id }}">Modifier</a> #}
            <a href="/comment/edit?id={{ comment.id }}">Modifier</a>
            <a href="/comment/delete?id={{ comment.id }}">Supprimer</a>
        </p>
    {% endfor %}
    <h2>Commenter l'article</h2>
    {{ include('front/comment-form.html.twig', {'action': 'new', 'id': article.id}) }}
{% endblock content %}
